<%= stylesheet_link_tag "application", :media => "all" %>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3" style="background-color:#cab8d9">
    <a class="my-0 mr-md-auto font-weight-normal" href="/"><span style="color:#FFFFFF;font-weight:bold;font-size : 50pt">TechCh</span></a>
    <nav class="my-2 my-md-0 mr-md-3">
        <nav class="navbar navbar-expand-lg" style="background-color:#cab8d9">
            <div class="container-fluid" >
    
                <%= form_with url: search_path, method: :get, local: true do |f| %>
                    <%= f.text_field :keyword, value: @keyword %>
                    <%= f.submit "検索" %>
                <% end %>      
                
                <% if session[:login] %>
                  <a class="p-2 text-dark" href="#"><%= link_to 'マイプロフィール', top_logout_path %></a>
                  <a class="p-2 text-dark" href="#"><%= link_to 'ブログ作成', new_thread_path %></a>
                  
                 
                    <a class="p-2 text-dark" href="#"><%= link_to 'ログアウト', top_logout_path %></a>
                    <a class="p-2 text-dark" href="#"><%= link_to 'スレッド作成', new_thread_path %></a>
                <% else %>
                    <a class="p-2 text-dark" href="#"><%=link_to '新規登録' , users_new_path %></a>
                    <a class="p-2 text-dark" href="#"><%=link_to 'ログイン' , top_login_path %></a>
                <% end %>
                
            </div>
        </nav>
    </nav>
</div>

<hr>

<body style="background-color:#EEEEEE">
<% @blogs.each do |b| %>

        <p>タイトル：<%= b.title %></p>
        <p>内容：<%= b.body %></p>
        <p><%= image_tag "/get_blog_image/#{b.id}", size: '300x200' %></p>
        <p>ブログを作ったユーザー：<%= User.find(b.user_id).uname %></p>
        <br>
<% end %>

  </div>
<hr>
<%= link_to 'Back', '/' %>
</body>