<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3" style="background-color:#66CC66">
    <a class="my-0 mr-md-auto font-weight-normal" href="/">TechCh</a>
    <nav class="my-2 my-md-0 mr-md-3">
        <nav class="navbar navbar-expand-lg" style="background-color:#66CC66">
            <div class="container-fluid" >
    
                
                <%= form_with url: search_path, method: :get, local: true do |f| %>
                   <%= f.text_field :keyword, value: @keyword %>
                    <%= f.submit "検索" %>
                <% end %>

                  
                
                <% if session[:login] %>
                  
                    <a class="p-2 text-dark" href="#"><%= link_to 'ブログ作成', new_blog_path %></a>
                    <a class="p-2 text-dark" href="#"><%=link_to 'ブログ一覧' , blogs_path %></a>
                    <a class="p-2 text-dark" href="#"><%= link_to 'ログアウト', top_logout_path %></a>
                    <a class="p-2 text-dark" href="#"><%= link_to 'スレッド作成', new_thread_path %></a>
                <% else %>
                    <a class="p-2 text-dark" href="#"><%=link_to '新規登録' , users_new_path %></a>
                    <a class="p-2 text-dark" href="#"><%=link_to 'ログイン' , top_login_path %></a>
                    <a class="p-2 text-dark" href="#"><%=link_to 'ブログ一覧' , blogs_path %></a>
 
                <% end %>
                
            </div>
        </nav>
    </nav>

</div>
<body style="background-color:#DDDDDD">

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
    
    
<% if session[:login] %>
 <p><%= User.find(session[:login_uid]).uname%>さんようこそTECH_CHANNELへ</p>
 <% end %>
<%= flash[:notice] %>
<strong>スレッド投稿一覧</strong>
<% @threads.each do |t| %>

<div style ="width: 800px; margin: auto; padding:10px 10px; text-align:center;">
       
            <article class="article" style=" background-color:#EEEEEE; border-radius:20px 20px 20px 20px;">
                <p><%= link_to "#{t.title}", "threads/#{t.id}"  %></p>
                <p>スレ作成者：<%= User.find(t.user_id).uname %></p>
                        <% if session[:login_uid] == User.find(t.user_id).id and session[:login] %>
                                <%= link_to "削除", "threads/#{t.id}",method: :delete %>
                                <%= link_to "編集", "threads/#{t.id}/edit" %>  
                        <% end %>
                    
                        <%= link_to "コメント", "threads/#{t.id}" %>
                        <br>
                
            </article>


</div>
<% end %>





</body>



