

<strong>スレッドタイトル:</strong>
<%= @threads.title %>

<% if @comment.errors.any? %>
<h3>エラーがあります。</h3>
<ul style="color: red">
<% @comment.errors.full_messages.each do |err| %>
<li><%= err %></li>
<% end %>
<% end %>

<%= form_for @comment, url: thread_comments_path(@threads,@comment) do |f| %>
コメント: <%= f.text_area :comment %>
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
<%= f.submit %>
<% end %>
<hr>
<div class="comments">
  <% @threads.comments.each do |comment| %>
    <%= comment.created_at.in_time_zone('Tokyo') %>:
    <%= comment.comment %>
    <%= User.find(comment.user_id).uname %>
    <br>
  <% end %>
  </div>
<hr>
<%= link_to 'Back', '/' %>

