<strong>スレッドタイトル:</strong>
<%= @threads.title %>
<%= form_for @comment, url: thread_comments_path(@threads,@comment) do |f| %>
コメント: <%= f.text_area :comment %>
<%= f.submit %>
<% end %>
<hr>
<div class="comments">
  <% @threads.comments.each do |comment| %>
    <%= comment.created_at.in_time_zone('Tokyo') %>:
    <%= comment.comment %>
    <%= User.find(comment.user_id).uname %>
    <br>
  <% end %>
  </div>
<hr>
<%= link_to 'Back', '/' %>

